#hud {
	padding-top:10px;
	position:fixed;
	padding:auto;
}

#word {
	text-align:center;
}

#word * {
	display:inline;
	font-size: 2em;
}

#incomplete {
	color:LightGray;
}

#status-panel {
	text-align:center;
}

h1 {
	font-size: 8em;
}


