#incorrect {
	position:fixed;
	left:25%;
}

#timer {
	position:fixed;
	right:25%;
}

#word {
	text-align:center;
}

#word * {
	display:inline;
	font-size: 2em;
}

#incomplete {
	color:LightGray;
}

#status-panel {
	text-align:center;
}

h1 {
	font-size: 8em;
}

@media only screen and (max-width: 565px) {
	h1 { 
		font-size: 5em; 
	}
}
